body {
    main {
        footer {
            padding: .75% 1%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                color: #FFFFFF;
            }

            #version {
                opacity: .75;
            }
        }
    }
}