body {
    header {
        display: flex;

        p {
            color: #FFFFFF;
        }

        #menu {
            padding: 1%;
            width: 10%;
            height: 100%;
            display: flex;
            align-items: center;

            #menuIcon {
                aspect-ratio: 1/1;
                height: 95%;
                display: none;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        #username {
            padding: 1%;
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            img {
                aspect-ratio: 1/1;
                height: 65%;
                margin-right: .5%;
            }

            #usernameText {
                font-family: segoe-ui;
                font-weight: bold;
                font-size: 1.3em;
            }
        }
    }
}