:root {
    --backgroundMain: #FFFFFF;
    --headerBackground: #212f61;
    --navBackground: #212f61;
    --footerBackground: #212f61;

    --primary: #E22456;
    --secondary: #3950A0;
    --tertiary: #859DCC;

    --success: #1D7B1C;
    --danger: #C12520;

    --paragraphMain: #000000;
    --paragraphOthers: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: segoe-ui;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-family: segoe-ui;
    font-size: 1.75em;
}

p {
    font-family: lato;
}

a {
    text-decoration: none;
    color: var(--primary);
}

body {
    width: 100%;
    height: 100dvh;
}



/*Button styles*/

.button {
    border: none;
    outline: none;
    padding: .5% 1%;
    margin-bottom: .5%;
    border-radius: 5px;

    font-family: segoe-ui;
    font-size: 1.05em;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.btn-primary {
    background-color: transparent;
    border: 2px solid transparent;

    color: var(--primary);

    &:hover {
        border: 2px solid var(--primary);
    }
}

.btn-primary-outlined {
    background-color: transparent;
    border: 2px solid var(--primary);

    color: var(--primary);

    &:hover {
        background-color: var(--primary);
        color: #FFFFFF;
    }
}

.btn-primary-solid {
    background-color: var(--primary);
    border: 2px solid var(--primary);

    color: #FFFFFF;

    &:hover {
        background-color: transparent;
        color: var(--primary);
    }
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid transparent;

    color: var(--secondary);

    &:hover {
        border: 2px solid var(--secondary);
    }
}

.btn-secondary-outlined {
    background-color: transparent;
    border: 2px solid var(--secondary);

    color: var(--secondary);

    &:hover {
        background-color: var(--secondary);
        color: #FFFFFF;
    }
}

.btn-secondary-solid {
    background-color: var(--secondary);
    border: 2px solid var(--secondary);

    color: #FFFFFF;

    &:hover {
        background-color: transparent;
        color: var(--secondary);
    }
}

.btn-success {
    background-color: transparent;
    border: 2px solid transparent;

    color: var(--success);

    &:hover {
        border: 2px solid var(--success);
    }
}

.btn-success-outlined {
    background-color: transparent;
    border: 2px solid var(--success);

    color: var(--success);

    &:hover {
        background-color: var(--success);
        color: #FFFFFF;
    }
}

.btn-success-solid {
    background-color: var(--success);
    border: 2px solid var(--success);

    color: #FFFFFF;

    &:hover {
        background-color: transparent;
        color: var(--success);
    }
}

.btn-danger {
    background-color: transparent;
    border: 2px solid transparent;

    color: var(--danger);

    &:hover {
        border: 2px solid var(--danger);
    }
}

.btn-danger-outlined {
    background-color: transparent;
    border: 2px solid var(--danger);

    color: var(--danger);

    &:hover {
        background-color: var(--danger);
        color: #FFFFFF;
    }
}

.btn-danger-solid {
    background-color: var(--danger);
    border: 2px solid var(--danger);

    color: #FFFFFF;

    &:hover {
        background-color: transparent;
        color: var(--danger);
    }
}

.btn-disabled {
    opacity: .5;

    &:hover {
        cursor: default;
    }
}